asn1crypto==0.24.0
certifi==2018.1.18
cffi==1.11.5
chardet==3.0.4
cryptography==2.1.4
enum34==1.1.6
future==0.16.0
gspread==0.6.2
httplib2==0.10.3
idna==2.6
ipaddress==1.0.19
oauth2client==1.5.2
oauthlib==2.0.6
pkg-resources==0.0.0
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycparser==2.18
pycrypto==2.6.1
pyOpenSSL==17.5.0
PyTumblr==0.0.7
requests==2.20.0
requests-oauthlib==0.8.0
rsa==3.4.2
scrypt==0.8.6
simplejson==3.13.2
six==1.11.0
soundcloud==0.5.0
twython==3.6.0
urllib3==1.22
